# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# ignore the raw national newspaper data set
all-the-news-2-1.csv

# ignore all the sample data sets of national newspapers
sample_*.csv

# ignore the df_nyt_sample.csv data set, which was only used temporarily.
df_nyt_sample.csv

# ignore the INDPRO data set
INDPRO.csv

# VS Code settings
.vscode/

# Ignore large model files
models/topic_model/slda_model