# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/